@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* Variablen */
:root {
  --envelope-x: 300px;
  --envelope-y: 190px;
  --envelope-bg: Moccasin;
  --envelope-shadow: Peru;
  --letter-x: 250px;
  --letter-y: calc(200px - 1rem - 10px);
  --letter-bg: AntiqueWhite;
  --letter-shadow: BurlyWood;
  --letter-text: #180d07;
  --letter-font: "Dancing Script", serif;
  --letter-button-text: darkred;
  --heart-bg: darkred;
  --heart-text: white;
}
#letter1 {
  position: absolute;
  left: 50%;             /* IM Kuvert versteckt   bottom: -100px; */
  bottom: 0px;
  transform: translateX(-50%);
  transition:
    bottom 1.5s ease,
    transform 1s ease 0.3s;
  z-index: 1;
}

#letter1.up {
  bottom: 180px;   /* fährt aus dem Umschlag nach oben */
}
.envelope.active .envelope-folds {
  pointer-events: none;
}
@media (min-width: 650px) {
  :root {
    --envelope-x: 600px;
    --envelope-y: 400px;
    --letter-x: 550px;
    --letter-y: calc(400px - 1rem - 10px);
  }
}

html { font-size: 20px; }
body { background-color: darkred; }

#letter1.big {
  position: fixed; /* fixiert am Viewport */
  left: 50%;   /* entfernt alte bottom */
  transform: translate(-50%, 100%) scale(1.5);
  z-index: 4;
}


@media (max-width: 600px) {
  #letter1.big {
    top: 5vh;                   /* Abstand vom oberen Rand */
    transform: translateX(-50%); /* nur horizontal zentrieren */
    max-height: 90vh;            /* Höhe Viewport */
  }
}

.envelope.active .envelope-flap,
.envelope.active .heart {
  pointer-events: none; /* nur Flap und Herz blockieren */
}
.cssletter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  margin: 24dvh 0;
}

.cite {
  font-size: 3rem;
}

.envelope {
  position: relative;
  width: var(--envelope-x);
  height: var(--envelope-y);
  background: var(--envelope-bg);
  transform: translateY(150px);
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow), 0 0 50vw 0 #540000;
}

.envelope::before {
  content: "˚ʚ❤︎ɞ˚";
  font-size: 2rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  mix-blend-mode: soft-light;
}

.envelope-flap {
  width: 100%;
  height: 71%;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition: 0.6s linear all;
  transform-origin: top;
  pointer-events: all;
}

.envelope-flap.behind {
  z-index: 0;
}

.envelope-folds {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
  content: "";
  transform: rotate(45deg);
  background: var(--envelope-bg);
  box-shadow: 0 0 30px -5px var(--envelope-shadow);
  width: 100%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 60%;
}

.envelope-flap::before {
  border-radius: 5rem;
  bottom: 30px;
  border-radius: 5rem;
  top: auto;
}

@media (min-width: 650px) {
  .envelope-flap::before {
    bottom: 100px;
  }
}

.envelope-left::before {
  top: 10%;
  left: -65%;
}

.envelope-right::before {
  top: 10%;
  right: -65%;
}

.envelope-bottom::before {
  top: 60%;
  border-radius: 5rem;
}

.heart {
  z-index: 4;
  position: relative;
  box-shadow: none;
  border: none;
  width: 70px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, var(--heart-bg) 64%, #0000 65%)
      top left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--heart-bg) 64%, #0000 65%) top
      right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--heart-bg) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 650px) {
  .heart {
    width: 150px;
  }
}

.heart::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, #ffffff26 64%, #0000 65%) top
      left/50% 50%,
    radial-gradient(circle at 40% 65%, #ffffff26 64%, #0000 65%) top right/50%
      50%,
    conic-gradient(from -45deg at 50% 85.5%, #ffffff26 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease all;
  z-index: -1;
}

@media (min-width: 650px) {
  .heart::before {
    width: 150px;
  }
}

.heart:hover,
.heart:active,
.heart:focus {
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: var(--heart-text);
}

.heart:hover::before,
.heart:active::before,
.heart:focus::before {
  transform: translate(-50%, -50%) scale(0.8);
}

.heart-text {
  transform: translateY(-10px);
  display: block;
  color: var(--heart-text);
  font-size: 1.5rem;
  font-family: var(--letter-font);
}

.envelope.active .envelope-flap,
.envelope.active .heart {
  pointer-events: none;
}

.envelope.active .envelope-flap {
  transform: rotateX(-180deg) translateY(0);
  perspective: 10px;
}

.envelope.active .envelope-flap::before {
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope.active .heart {
  display: none;
}

.letter {
  box-sizing: border-box;
  font-family: var(--letter-font);
  font-size: 0,5rem;
  line-height: 1.1;
  background-color: var(--letter-bg);
  color: var(--letter-text);
  width: var(--letter-x);
  height: var(--letter-y);
  user-select: none;
  box-shadow: inset 0 0 20px -5px var(--letter-shadow);
  padding: 3rem 1rem 1rem;
  margin: 0;
  cursor: grab;
  position: absolute;
  overflow: auto;
  text-align: center;
  border: 0;
}

.letter:active {
  cursor: grabbing;
}

.letter.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.letter cite {
  font-size: 1.25rem;
  color: var(--letter-text);
  margin-top: 1rem;
}

.letter cite::before {
  content: none;
}

.letter:nth-child(even) {
  transform: skew(-2deg) translateY(-4px);
}

.letter:nth-child(odd) {
  transform: skew(2deg) translateY(4px);
}

@media (min-width: 650px) {
  .letter {
    font-size: 1.3rem;
  }
}

/* Attribution */
@import url("https://frills.dev/css/abstracts/_variables.css");
@import url("https://frills.dev/css/components/_logo.css");

:root {
  --bodybg: darkred;
}

footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10000000;
}

footer svg {
  width: 100px;
}


























